.container {
  max-width: 400px;
  margin: auto;
  font-family: Arial;
}

.toggle-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.toggle-group button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
}

.toggle-group .active {
  background: #2563eb;
  color: white;
    font-weight: 600;

}

select {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  flex: 1 1 100%;
  border: 1px solid #ddd;
  padding: 10px;
}

@media (min-width: 600px) {
  .card {
    flex: 1 1 48%;
  }
}

/* @media (min-width: 1024px) {
  .card {
    flex: 1 1 30%;
  }
} */

.empty {
  color: gray;
  text-align: center;
  margin-top:5rem
}
.empty-date{
  position: relative;
  top:10px;
}
